<div class="auth-container">
  <div class="auth-card">
    <div class="logo  d-flex justify-content-center pb-3 mb-2 ">
      <img class="rounded bg-secondary cover-fill border-1" height="50" src="assets/aa.png" alt="image">
    </div>
    <h2>Welcome Back</h2>
    <p class="text-secondary ">Let’s grow your business with Ai-power</p>

    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()"> 
      <label for="email">E-mail</label>
      <input class="input-with-icon"  placeholder=" ✉  Enter you email" type="email" id="email" formControlName="email" />
      @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
        <div class="text-danger small mt-1">
          @if (loginForm.get('email')?.errors?.['required']) {<div>Email is required.</div>}
          @if (loginForm.get('email')?.errors?.['email']) {<div>Enter a valid email.</div>}
        </div>
      }

      <!-- Password -->
      <div class="d-flex justify-content-between align-items-center mt-3">
      <label for="password">Password</label>
      </div>
      <input   class=" fa-placeholder mb-3"
       placeholder="Enter your password" type="password" id="password" formControlName="password" />
      @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
        <div class="text-danger small mt-1">
          @if (loginForm.get('password')?.errors?.['required']) {<div>Password is required.</div>}
          @if (loginForm.get('password')?.errors?.['minlength']) {<div>Minimum 6 characters.</div>}
        </div>
      }

      <button   type="submit" [disabled]="loginForm.invalid || isLoading">
        Login
      </button>

      <div class="links my-4">
        <p>Don't have an account? <a routerLink="/register">Register</a></p>
      </div>

      @if (isLoading) {
        <div class="spinner">
          <i class="fas fa-spin fa-spinner"></i>
        </div>
      }

      @if (errMsg) {
        <div class="text-danger small mt-3">{{ errMsg }}</div>
      }
      @if (isSuccess) {
        <div class="text-success small mt-3">Login successful! Redirecting...</div>
      }
    </form>
  </div>
</div>
