<div class="auth-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" />
    </mat-form-field>

  

    <button mat-flat-button color="primary" class="full-width" [disabled]="resetForm.invalid">
      Reset Password
    </button>
  </form>
@if (done) {
  <p class="sent-text">✅ Password reset successfully!</p>

}
</div>
