<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">
      <h2>ZIZO SHOP</h2>
      <p>
        Find clothes that match your style. Discover your favorite fashion
        pieces easily and quickly.
      </p>
    </div>

    <div class="footer-links">
      <div class="footer-column">
        <h3>Company</h3>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Works</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>Help</h3>
        <ul>
          <li><a href="#">Customer Support</a></li>
          <li><a href="#">Delivery Details</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>FAQ</h3>
        <ul>
          <li><a href="#">Account</a></li>
          <li><a href="#">Manage Deliveries</a></li>
          <li><a href="#">Orders</a></li>
          <li><a href="#">Payments</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>Resources</h3>
        <ul>
          <li><a href="#">Free eBooks</a></li>
          <li><a href="#">Development Tutorial</a></li>
          <li><a href="#">How to - Blog</a></li>
          <li><a href="#">YouTube Playlist</a></li>
        </ul>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="footer-bottom">
    <span>© 2025 ZIZO SHOP — All Rights Reserved</span>
    <div class="social-icons d-flex gap-2">
      <a
        href="https://web.facebook.com/profile.php?id=61578907266393"
        target="_blank"
        class="text-decoration-none text-dark"
      >
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a
        href="https://www.instagram.com/_ziad_r22/"
        target="_blank"
        class="text-decoration-none text-dark"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a
        href="https://github.com/Ziad2274"
        target="_blank"
        class="text-decoration-none text-dark"
      >
        <i class="fa-brands fa-github"></i>
      </a>
      <a
        href="https://www.youtube.com/feed/subscriptions/UCAIxr4DpLZH-Iih4mlbLjiA"
        target="_blank"
        class="text-decoration-none text-dark"
      >
        <i class="fa-brands fa-youtube"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/ziad-raafat/?skipRedirect=true"
        target="_blank"
        class="text-decoration-none text-dark"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
</footer>
