<div class="auth-container">
  <h2>Forgot Password</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email address</mat-label>
      <input matInput type="email" formControlName="email" required />
      <mat-error *ngIf="email.invalid && email.touched">
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" class="full-width" [disabled]="form.invalid">
      Send Reset Code
    </button>
  </form>

  <p *ngIf="sent" class="sent-text">✅ Password reset link sent to your email.</p>
</div>
